<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/miao.css" type="text/css">
	<title>秒杀系统</title>
</head>
<body>
	<div class="mp-content">
	   <ul class="itemlist border-list" id="anti-encrypt" data-click="{act:'a',  mod:'mainItem'}">
	    <li class="mp-single-item" data-id="2839496677" data-click="{pn:'1'}" style="bottom: 0px; z-index: 1;">
			<div class="item-info">
				<img data-src="tata.jpg" class="item-logo" src="../static/images/tata.jpg" style="display: inline;">    
				<h4 class="item-discount">秒杀价<em>3.8元</em>&nbsp; &nbsp; &nbsp;&nbsp;原价：98元</h4>
				<h4 class="item-stitle">Tata-上品折扣1-5折 京10店配货</h4>
				<p class="item-time" id="item-time">离开始: <span class="mp-remain-time">52</span>秒</p>
				<p class="item-source"><span class="item-source-inner">上品折扣</span>    </p> 
				<span id="item-his-safe" class="item-his-safe" style="display:none;"></span>
			</div> 

		    <div class="item-pic">
		    	<img class="load-bear" src="../static/images/miao.jpg" style="display: inline;"> 
		    </div>

		    <div class="linkhover favorite-icon brand-collected favorite-16471559275081143995" data-id="16471559275081143995" data-type="index">
		    	<span class="empty-heart-icon"></span>关注
		    </div>

	    	<a href="####" target="_blank" class="mp-item-link" id="mp-item-link" title="Tata-上品折扣1-5折 京10店配货" data-click="{time:1414986097, item:'2839496677'}" onclick="buyItem();return false;"></a>
	    </li>
	  </ul>
</div>
<script>
document.write("<s"+"cript type='text/javascript' src='http://localhost/miao/miao.js?"+Math.random()+"'></scr"+"ipt>");
</script>
</body>
</html>